header{
    width:100%;
    height:50px;
    background-color:blueviolet;
   
}

/* Organizando o navbar do header */
header .navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top:8px;
    color:white;
}

div{
    display:flex;
    
}

div h2{
    font-size: 12pt;
}


.navbar img{
    height:25px;
}

.navbar{
    padding:10px;
    display:flex;
    align-items: center;
}

.card-produtos span{
    display:block;
    font-size:10pt;
    text-align:center;

}